* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  display: flex;
  gap: 24px;
}

/* Card */
.card {
  width: 220px;
}

/* Image box */
.img {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  cursor: pointer;
}

/* DEFAULT IMAGE */
.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* HOVER IMAGE */
.img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Hover effect */
.card:hover .img::before {
  opacity: 1;
  transform: scale(1.05);
}

.card:hover .img::after {
  opacity: 0;
  transform: scale(1.05);
}

/* Text */
.card p {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
}

/* ---------------------- */
/* INDIVIDUAL IMAGES */
/* ---------------------- */

/* CARD 1 */
.card1 .img::after {
  background-image: url("https://picsum.photos/id/1011/500/700");
}
.card1 .img::before {
  background-image: url("https://picsum.photos/id/1015/500/700");

}

/* CARD 2 */
.card2 .img::after {
  background-image: url("https://picsum.photos/id/1025/500/700");
}
.card2 .img::before {
  background-image: url("https://picsum.photos/id/1035/500/700");
}

/* CARD 3 */
.card3 .img::after {
  background-image: url("https://picsum.photos/id/1041/500/700");
}
.card3 .img::before {
  background-image: url("https://picsum.photos/id/1050/500/700");
}
