* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_hover:hover {
  color: #e2d5ba;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* header section */

.nav {
  height: 90px;
  width: 100%;
  font-size: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  height: 60px;
  margin-top: 10px;
}

.logo img {
  height: 70px;
  width: 115px;
}

.nav_opt {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.secondry_nav {
  height: 60px;
  width: 100%;
  display: flex;
}

.secondry_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0px 100px;
}

.secondry_nav ul li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  align-items: center;
}

.secondry_nav ul li a {
  text-decoration: none;
  color: #000000;
}

.secondry_nav ul li a:hover {
  color: #e2d5ba;
}

/* *************************** */

/* Main Content */

.title_page {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: serif;
  /* border: 2px solid red; */
}
.title_page h4 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 20px;
  color: #555555;
}

.main-containt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  /* border: 2px solid red; */
}

.left-main {
  width: 40%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.left-main img {
  width: 100%;
  height: 800px;
  background-size: cover;
}

.right-main {
  width: 40%;
  /* border: 2px solid red; */
}

.meetourteam {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  margin-top: 150px;
}

.meetourteam_head {
  text-align: center;
  font-size: 28px;
  font-family: serif;
  margin: 20px 0px;
}

.meetourteam_contant {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 100%;
}

.left-meet {
  width: 20%;
  height: 800px;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-right: 20px;
}

.left-meet img {
  width: 300px;
  height: 400px;
  background-size: cover;
}

.left-meet p {
  text-align: left;
  margin-left: -5px;
}
.right-meet {
  width: 20%;
  height: 800px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.right-meet img {
  width: 300px;
  height: 400px;
  background-size: cover;
}

.right-meet p {
  text-align: left;
  margin-left: -5px;
}
/* Footer section */

.contact_section {
  background-color: #313511;
  height: 300px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b58735;
  font-family: serif;
  /* margin: 0px 30px; */
}

.left {
  width: 50%;
  /* border: 2px solid red; */
  font-size: 20px;
  line-height: 1.5;
}

.left h1,
p {
  margin-left: 50px;
  padding: 10px 0px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right input {
  width: 500px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #b58735;
  border-bottom: 2px solid #b58735;
}

.right button {
  padding: 5px 20px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #b58735;
  cursor: pointer;
  border-bottom: 2px solid #b58735;
}

.right input:focus {
  outline: none;
}

.right input::placeholder {
  color: #b58735;
}

.right button:hover {
  color: white;
  border-color: white;
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #f0f0e5;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  font-family: serif;
}

.para {
  height: 400px;
  width: 400px;
}

.para_head {
  font-weight: bold;
  cursor: text;
}

.para p:hover {
  color: #e9c8a1;
  cursor: pointer;
}

.para_head:hover {
  color: black;
}

/* *************** */
