* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_hover:hover {
  color: #e2d5ba;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* header section */

.nav {
  height: 90px;
  width: 100%;
  font-size: 20px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 99;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  height: 60px;
  margin-top: 10px;
}

.logo img {
  height: 70px;
  width: 115px;
}

.nav_opt {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.secondry_nav {
  height: 60px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 90px;
  background-color: white;
  z-index: 99;
}

.secondry_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0px 100px;
}

.secondry_nav ul li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  align-items: center;
}

.secondry_nav ul li a {
  text-decoration: none;
  color: #000000;
}

.secondry_nav ul li a:hover {
  color: #e2d5ba;
}

/* *************************** */

.categories {
  margin: 30px 0px;
  height: 200px;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}

.category-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid blue; */
  height: 100%;
  width: 60%;
}

.category-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-pic img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.category-pic img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.category-pic span {
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.category-pic span:hover {
  text-decoration: underline;
}

/* /main containt */

.title_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 150px;
}

.title_page h2 {
  font-size: 40px;
  font-family: serif;
}

.title_page p {
  font-size: 18px;
  font-weight: 300;
  width: 60%;
  text-align: center;
}

.main_container {
  height: 100%;
  width: 100%;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.box {
  width: 22%;
  height: 350px;
  margin-bottom: 50px;
}

.img {
  position: relative;
  height: 88%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.65s ease, transform 0.6s ease;
}

.box:hover .img::before {
  opacity: 1;
  transform: scale(1.05);
}

.box:hover .img::after {
  opacity: 0;
  transform: scale(1.05);
}

.box1 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/sac-doudou2.png?v=1761583900&width=360);
}

.box1 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/SAC_DOUDOU_Vert_de_Gris.jpg?v=1761583900&width=900);
}

.box2 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/IMG_5780.jpg?v=1764624604&width=900);
}

.box2 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/IMG_5780.jpg?v=1764624604&width=900);
}

.box3 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/3395a2411e6e6ebad1b2a8832fc4e246d7af4b2b80228bb515362169a6760d4b.jpg?v=1755599848&width=900);
}

.box3 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/2ae3ea413d2d8a06bfa41bf53c98bf6a2eac79d2b8e99c0ee06bd07487fb9155.jpg?v=1755599849&width=360);
}
.box4 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/0d744deb518ee4890b5c0ecef9e09b8b2a68bddcf36e51d559afd88d5a805df2.jpg?v=1755599862&width=900);
}
.box4 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/b8c377134c939b3ef6a2a373ed9b6647da5187593ba9162871408a7a84f5e86d.jpg?v=1755599864&width=360);
}
.box5 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/e274fa319184ff47f78922d1d415efddf2a7306e3a2feb6169d82e7cccb685df.jpg?v=1755599859&width=900);
}
.box5 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/5793117cc8816a0384422c723e677f5fc5a2cf12381a66b19e2a1b23ccddb8d7.jpg?v=1755599862&width=360);
}
.box6 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/da3980641dc7e700282e93258ed262ee64c370dfd430a3265b7c817e4f1bc6b8.jpg?v=1755599851&width=900);
}
.box6 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/e30b81951966a1d40f4bd2c3e3754c27cacf3267375c90925bb73477f3cc03dd.jpg?v=1755599853&width=360);
}

.box7 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/62f3381d0a37440f0556c3be84280595c1ff97ab875a81d4308db51abdab8d83.jpg?v=1755599865&width=900);
}
.box7 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/8ebfa5ee2db65fcfbed581fb2a036ff2a8fe8686f0d4313d6bf6452a56000568.jpg?v=1755599867&width=360);
}
.box8 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/967b6802bad5922da89a770a06b7661c13283e039f69f43ba82dc159e9aef289.jpg?v=1755599868&width=900);
}
.box8 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/5300ebfc086a1e7c8d0cfe3292eb1c8c3445d26ba8bbb69a6a3760e53a53a53e.jpg?v=1755599871&width=360);
}

/* Footer section */

.contact_section {
  background-color: #313511;
  height: 300px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b58735;
  font-family: serif;
  /* margin: 0px 30px; */
}

.left {
  width: 50%;
  /* border: 2px solid red; */
  font-size: 20px;
  line-height: 1.5;
}

.left h1,
p {
  margin-left: 50px;
  padding: 10px 0px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right input {
  width: 500px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #b58735;
  border-bottom: 2px solid #b58735;
}

.right button {
  padding: 5px 20px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #b58735;
  cursor: pointer;
  border-bottom: 2px solid #b58735;
}

.right input:focus {
  outline: none;
}

.right input::placeholder {
  color: #b58735;
}

.right button:hover {
  color: white;
  border-color: white;
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #f0f0e5;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  font-family: serif;
}

.para {
  height: 400px;
  width: 400px;
}

.para_head {
  font-weight: bold;
  cursor: text;
}

.para p:hover {
  color: #e9c8a1;
  cursor: pointer;
}

.para_head:hover {
  color: black;
}

/* *************** */
