* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_hover:hover {
  color: #e2d5ba;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* header section */

.nav {
  height: 90px;
  width: 100%;
  font-size: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  height: 60px;
  margin-top: 10px;
}

.logo img {
  height: 70px;
  width: 115px;
}

.nav_opt {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.secondry_nav {
  height: 60px;
  width: 100%;
  display: flex;
}

.secondry_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0px 100px;
}

.secondry_nav ul li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  align-items: center;
}

.secondry_nav ul li a {
  text-decoration: none;
  color: #000000;
}

.secondry_nav ul li a:hover {
  color: #e2d5ba;
}

/* *************************** */

/* main concept */

.main_contact {
  height: 100%;
  width: 100%;
  color: #313511;
}

.main_contact h1 {
  text-align: center;
  margin: 50px 0px;
}

.main_contact img {
  width: 100%;
  height: 600px;
  margin-top: 20px;
}

.contact {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.left_contact {
  width: 50%;
  height: 100%;
  justify-content: start;
}

.left_contact h1 {
  text-align: start;
  margin-left: 50px;
}

.left_contact p {
  text-align: start;
}

.icons {
  height: 300px;
  width: 100px;
  /* border: 2px solid red; */
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.icons i {
  font-size: 20px;
  padding: 20px;
  width: 100%;
  padding-right: 20px;
  text-align: start;
}
.center {
  display: flex;
  align-items: center;
  justify-content: start;
}
.right_contact {
  width: 50%;
  height: 100%;
}

.right_contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin: 30px 0px 0px 30px;
}

.right_contact form input {
  height: 40px;
  margin-bottom: 20px;
  background-color: #efefec;
  border: none;
}

.right_contact form input:focus {
  outline: none;
}

.right_contact form textarea {
  background-color: #efefec;
  border: none;
  /* font-size: 10px; */
}

.right_contact form textarea:focus {
  outline: none;
}

.right_contact form button {
  margin-top: 20px;
  height: 40px;
  border: none;
  font-size: 20px;
}
.right_contact form button:hover {
  background-color: #313511;
  color: white;
}

/* Footer section */

.contact_section {
  background-color: #313511;
  height: 300px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b58735;
  font-family: serif;
}

.left {
  width: 50%;
  font-size: 20px;
  line-height: 1.5;
}

.left h1,
p {
  margin-left: 50px;
  padding: 10px 0px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right input {
  width: 500px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #b58735;
  border-bottom: 2px solid #b58735;
}

.right button {
  padding: 5px 20px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #b58735;
  cursor: pointer;
  border-bottom: 2px solid #b58735;
}

.right input:focus {
  outline: none;
}

.right input::placeholder {
  color: #b58735;
}

.right button:hover {
  color: white;
  border-color: white;
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #f0f0e5;
  display: flex;
  justify-content: space-evenly;
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  font-family: serif;
}

.para {
  height: 400px;
  width: 400px;
}

.para_head {
  font-weight: bold;
  cursor: text;
}

.para p:hover {
  color: #e9c8a1;
  cursor: pointer;
}

.para_head:hover {
  color: black;
}

/* *************** */
