* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_hover:hover {
  color: #e2d5ba;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* header section */

.nav {
  height: 90px;
  width: 100%;
  font-size: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
  /* border: 2px solid red; */
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  height: 60px;
  margin-top: 10px;
}

.logo img {
  height: 70px;
  width: 115px;
}

.nav_opt {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.secondry_nav {
  height: 60px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 90px;
  background-color: #ffffff;
  z-index: 99;
}

.secondry_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0px 100px;
}

.secondry_nav ul li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  align-items: center;
}

.secondry_nav ul li a {
  text-decoration: none;
  color: #000000;
}

.secondry_nav ul li a:hover {
  color: #e2d5ba;
}

/* *************************** */

/* /main containt */

.title_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 150px;
}

.title_page h2 {
  font-size: 40px;
  font-family: serif;
}

.title_page p {
  font-size: 18px;
  font-weight: 300;
  width: 60%;
  text-align: center;
}

.main_container {
  height: 100%;
  width: 100%;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.box {
  width: 22%;
  height: 350px;
  margin-bottom: 50px;
}

.img {
  position: relative;
  height: 88%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.65s ease, transform 0.6s ease;
}

.box:hover .img::before {
  opacity: 1;
  transform: scale(1.05);
}

.box:hover .img::after {
  opacity: 0;
  transform: scale(1.05);
}

.box1 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Charingworth-fiddle-cutlery-24-set-vintage-1.jpg?v=1713446070&width=900);
}

.box1 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/SarahFrancesKelley-010.jpg?v=1763381699&width=360);
}

.box2 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Charingworth-fiddle-cutlery-42-set-vintage-1.jpg?v=1763381473&width=900);
}

.box2 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/webSarahFrancesKelley-159.jpg?v=1763381473&width=360);
}

.box3 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/FullSizeRender_ba68c890-6090-461f-9e48-3fa5e7937f3c.jpg?v=1761299473&width=500);
}

.box3 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/FullSizeRender_682228f0-57f8-44d4-b544-12b2b5d948db.jpg?v=1761405927&width=500);
}

.box4 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Cantinecerealbowlgris-w-min.jpg?v=1713958621&width=500);
}
.box4 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/J_Ahero_269_copy_2.jpg?v=1740497941&width=500);
}
.box5 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/jars-vase-tourron-matiere-oil-bottle-1.jpg?v=1713458203&width=500);
}
.box5 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/IMG-0020.jpg?v=1763590799&width=500);
}
.box6 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/SarahFrancesKelley-181.jpg?v=1762377060&width=900);
}
.box6 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/set_amour_shell_dishes4_aa98cc16-ae17-426f-aee3-2d7e0c4ec662.jpg?v=1762377060&width=500);
}

.box7 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/0C0A3671-5CA3-4C19-BF10-F9A3C52C70D4.jpg?v=1748524286&width=500);
}
.box7 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/SarahFrancesKelley-153.jpg?v=1764625213&width=500);
}
.box8 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Peugeot-cast-iron-orange-pepper-mill-w.jpg?v=1712759799&width=500);
}
.box8 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/71.png?v=1723560880&width=500);
}
/* Footer section */

.contact_section {
  background-color: #313511;
  height: 300px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b58735;
  font-family: serif;
  /* margin: 0px 30px; */
}

.left {
  width: 50%;
  /* border: 2px solid red; */
  font-size: 20px;
  line-height: 1.5;
}

.left h1,
p {
  margin-left: 50px;
  padding: 10px 0px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right input {
  width: 500px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #b58735;
  border-bottom: 2px solid #b58735;
}

.right button {
  padding: 5px 20px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #b58735;
  cursor: pointer;
  border-bottom: 2px solid #b58735;
}

.right input:focus {
  outline: none;
}

.right input::placeholder {
  color: #b58735;
}

.right button:hover {
  color: white;
  border-color: white;
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #f0f0e5;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  font-family: serif;
}

.para {
  height: 400px;
  width: 400px;
}

.para_head {
  font-weight: bold;
  cursor: text;
}

.para p:hover {
  color: #e9c8a1;
  cursor: pointer;
}

.para_head:hover {
  color: black;
}

/* *************** */
