* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_hover:hover {
  color: #e2d5ba;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* header section */

.nav {
  height: 90px;
  width: 100%;
  font-size: 20px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 99;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  height: 60px;
  margin-top: 10px;
}

.logo img {
  height: 70px;
  width: 115px;
}

.nav_opt {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.secondry_nav {
  height: 60px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 90px;
  background-color: white;
  z-index: 99;
}

.secondry_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0px 100px;
}

.secondry_nav ul li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  align-items: center;
}

.secondry_nav ul li a {
  text-decoration: none;
  color: #000000;
}

.secondry_nav ul li a:hover {
  color: #e2d5ba;
}

/* *************************** */

/* /main containt */

.title_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 150px;
}

.title_page h2 {
  font-size: 40px;
  font-family: serif;
}

.title_page p {
  font-size: 18px;
  font-weight: 300;
  width: 60%;
  text-align: center;
}

.main_container {
  height: 100%;
  width: 100%;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.box {
  width: 22%;
  height: 350px;
  margin-bottom: 50px;
}

.img {
   position: relative;
  height: 88%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.65s ease, transform 0.6s ease;
}

.box:hover .img::before {
  opacity: 1;
  transform: scale(1.05);
}

.box:hover .img::after {
  opacity: 0;
  transform: scale(1.05);
}

.box1 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/theiere-tourron-ecorce-961279.jpg?v=1720532947&width=500);
}

.box1 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Pitcher_TOURRON_MATIERE_STILL_LIFE.jpg?v=1720532968&width=500);
}

.box2 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/cantineteapotvert-min.jpg?v=1713958506&width=500);
}

.box2 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/cantine-teapot-lifestyle-4-min.jpg?v=1713961970&width=500);
}

.box3 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Teapot_Small_Both_teaspoon2_1200x1500_crop_center_d0964921-e6bb-43fc-b563-eebedcdbde0f.webp?v=1750771687&width=500);
}

.box3 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Teapot_Small_Both_teaspoon2_1200x1500_crop_center_d0964921-e6bb-43fc-b563-eebedcdbde0f.webp?v=1750771687&width=500);
}

.box4 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Feldspar-tea-strainer-1-min.jpg?v=1713450686&width=500);
}
.box4 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Feldspar-tea-strainer-2-min.jpg?v=1713450686&width=500);
}
.box5 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Feldspar-Cafetiere-500ml-1-min.jpg?v=1713439111&width=400);
}
.box5 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Screenshot_2024-06-17_at_17.02.54.png?v=1718640263&width=500);
}
.box6 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Screenshot_2024-06-17_at_17.02.54.png?v=1718640263&width=500);
}
.box6 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Screenshot_2025-01-23_at_17.35.59.png?v=1764624074&width=500);
}

.box7 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/jars-vase-maguelone-creamer-cachemire.jpg?v=1712762263&width=360);
}
.box7 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/jars-vase-maguelone-creamer-lifestyle-1.jpg?v=1720106195&width=500);
}
.box8 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/ZAFFERANO-Bilia-Creamer-white-BA00901.jpg?v=1713349629&width=500);
}
.box8 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/ZAFFERANO-Bilia-Creamer-white-BA00901.jpg?v=1713349629&width=500);
}
.box9 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Feldspar-milk-jug-1-min.jpg?v=1713446502&width=400);
}
.box9 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Feldspar-milk-jug-4-min.jpg?v=1718639178&width=360);
}
.box10 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/John-Julian-classical-stoneware-cream-jug-small-1_5247bcf1-5bef-4efe-a786-1ed4dc235c2b.jpg?v=1713609113&width=400);
}
.box10 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/John-Julian-classical-stoneware-cream-jug-2.jpg?v=1713609113&width=360);
}

.box11 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/SarahFrancesKelley-007_1.jpg?v=1764624109&width=500);
}
.box11 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Feldspar-tea-mug-1-min.jpg?v=1764624109&width=500);
}
.box12 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/cantinemugrose-w-min.jpg?v=1713958601&width=500);
}
.box12 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/cantine-mug-lifestyle-3-min.jpg?v=1713962032&width=500);
}
.box13 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/cantinetumblervert-s-min.jpg?v=1737647342&width=100);
}
.box13 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/cantinetumblers-min.jpg?v=1737647095&width=500);
}
.box14 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/cantinetumblergris-s-min.jpg?v=1713958563&width=500);
}
.box14 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/cantine-tumbler-lifestyle-2-min.jpg?v=1737647342&width=500);
}
.box15 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Screenshot2024-12-12at16.58.08.png?v=1734022729&width=500);
}
.box15 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Screenshot2024-12-12at16.58.08.png?v=1734022729&width=500);
}
.box16 .img::after {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/Decanter_lightened_4770bdd4-cbbf-4f6d-8dea-3d2658010e5d.png?v=1764089269&width=500);
}
.box16 .img::before {
  background-image: url(https://jackandabel.co.uk/cdn/shop/files/ESPERIENZE-red-wines-1.jpg?v=1763381133&width=500);
}
/* Footer section */

.contact_section {
  background-color: #313511;
  height: 300px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b58735;
  font-family: serif;
  /* margin: 0px 30px; */
}

.left {
  width: 50%;
  /* border: 2px solid red; */
  font-size: 20px;
  line-height: 1.5;
}

.left h1,
p {
  margin-left: 50px;
  padding: 10px 0px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right input {
  width: 500px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #b58735;
  border-bottom: 2px solid #b58735;
}

.right button {
  padding: 5px 20px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #b58735;
  cursor: pointer;
  border-bottom: 2px solid #b58735;
}

.right input:focus {
  outline: none;
}

.right input::placeholder {
  color: #b58735;
}

.right button:hover {
  color: white;
  border-color: white;
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #f0f0e5;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  font-family: serif;
}

.para {
  height: 400px;
  width: 400px;
}

.para_head {
  font-weight: bold;
  cursor: text;
}

.para p:hover {
  color: #e9c8a1;
  cursor: pointer;
}

.para_head:hover {
  color: black;
}

/* *************** */
